.app-services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.app-service {
    min-width: 160px;
    max-width: 170px;
    width: 30%;
    border: 1px solid #ffffff;
    padding: 0 26px 0;
    margin: 0 5px;
    min-height: 260px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.app-service:hover {
    cursor: pointer;
    transform:scale(1.04);
    transition: 0.2s;
}

.app-service svg {
    padding: 20px 0;
}

.app-service h4{
    font-size: 20px;
    margin: 0;
}

.app-service p{
    font-size: 16px;
}

@media only screen and (max-width: 850px) { /*900px*/

}