.app-portifolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.app-portifolio {
    margin: 0 9px 9px;
}

.app-portifolio:hover {
    cursor: pointer;
    transition: 0.2s;
    transform:scale(1.08);
}

.app-portifolio-modal-false {
    display: none;
}

.app-portifolio-modal-true {
    position: fixed; 
    
    width: 100%;
    height: 100%;

    display: inline-block;
    margin: 0 auto;
    
    z-index: 999;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
}