.app-contact-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px 25px;
}

.app-contact-container input,
.app-contact-container textarea {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #282c34;
    margin-bottom: 5px;
    width: 100%;
    max-width: 360px;
    border-radius: 3px;
    padding: 5px 8px;
    font-family: "Helvetica Neue", Roboto;
}

.app-contact-container textarea {
    min-height: 60px;
}

.app-contact-container button {
    font-family: "Helvetica Neue", Roboto;
    font-size: 16px;
    padding: 2px 25px;
    border-radius: 3px;
    border: 0px solid #ffffff;
    cursor: pointer;
}

.app-contact-container button:hover {
    opacity: 0.7;
}

.app-contact-container button:active {
    position: relative;
    top: 2px;
}