.App {
  background-color: #282c34;
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(15px + 3vmin);
  color: white;
  font-weight: bold;
}

.nav-header ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.nav-header ul li{
  margin: 0;
  padding: 0;
}

.nav-header ul li a{
  font-weight: normal;
  font-size: 14px;
  padding-right: 20px;
  text-decoration: none;
  color: #ffffff;
}

.App-Content {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.App-profile {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0;
}

.App-profile {
  top: 30px; 
  position: absolute;
  align-self: center;
  width: 300px;
  height: auto;
}

.App-Text {
  display: flex;
  align-self: center;
}

.contacts-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-name: move;
  animation-duration: 2.2s;
  animation-delay: 12.6s;
  animation-fill-mode: both;
}

ul {
  padding: 0;
}

.contacts-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.App-link {
  color: #61dafb;
}

.App-Text-Description {
  font-size: 26px;
  font-weight: normal;
}

.App-Scroll-Button {
  overflow: hidden;
  animation-name: move;
  animation-duration: 2.2s;
  animation-delay: 12.6s;
  animation-fill-mode: both;
  padding-top: 10%;
}

.App-Scroll-Button:hover {
  position: relative;
  top: 3px;
  cursor: pointer;
}

@media only screen and (max-height: 860px ) and (min-width: 600px) {
 
  .App-profile {
    opacity: 0;
  }

}

@media only screen and (max-width: 1120px) {
 
  .App {
    /* padding-top: 90px; */
  }

}

@media only screen and (max-width: 480px) {

  .App {
    padding: 40 35px 0 35px;
    font-size: 26px;
  }

  .App-profile {
    top: 5px; 
    position: absolute;
    align-self: center;
    width: 280px;
    height: auto;
  }

  .nav-header ul li{
    font-weight: normal;
    font-size: 12px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 380px) {
  .App-profile {
    top: 25px; 
    position: absolute;
    align-self: center;
    width: 200px;
    height: auto;
  }

  .App {
    padding: 68 35px 0 35px;
    font-size: 26px;
  }
}

@keyframes move {
  from{
    opacity: 0;
    transform: translateY(-70%);
  }to {
    opacity: 1;
    transform: translateY(0);
  }
}