.App {
  text-align: center;
}

.App-profile {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-profile {
  top: 30px; 
  position: absolute;
  align-self: center;
  width: 300px;
  height: auto;
}

.App-Text {
  position: absolute;
  display: flex;
  align-self: center;
  width: 100%;
  margin-top: 50px;
}

.contacts-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contacts-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 380px) {
  .App-profile {
    top: 30px; 
    position: absolute;
    align-self: center;
    width: 200px;
    height: auto;
  }
}